<ion-view title="Easyday sec 25 panchkula"  class="backhroundcolor " ng-init="getAllProducts()" >

<ion-header-bar class="bar-positive">
      <h1 class="title">Easy Day</h1>
      <!--  <div>
		   <div class="cartIcon">
			   <button class="button ion-button clear" >
			        	<i class="icon ion-android-cart"></i>
			     </button>
		    </div>
	   </div>
	   -->
</ion-header-bar>

 <ion-content class="padding">
	 <span class="whitecolor">
	   <ion-item>
	    
	   <!--  Refresh button in case of data not loaded -->
  		<button ng-if="isPhone" ion-button round  class="button button-full button-positive round" ng-click="lauchBrowser()">
	 		 Refresh
		</button>
		
		<!--  List of all products -->
		<div style="display: block;">
			<span ng-repeat="product in allProducts">
			<post-card info="product"></post-card>
			</span>
		</div>
		
		
	</span>
 </ion-content>
</ion-view>
