<ion-view title="Easyday" cache-view="false"  class="backhroundcolor " ng-init="getAllProducts()" ng-controller="CTRL_HOME as $ctrl">

<ion-header-bar class="bar-positive">
      <h1 class="title">Easy Day</h1>
     
</ion-header-bar>

 <ion-content class="padding">
 
	 <span class="whitecolor">
	   <ion-item>
	  
	   
	    <!-- carousel -->
	    <div ng-show="shopHasOffers">
	    
	    	<div align="center" >
				<div class="jcarousel">
					<ul id="jcarouselItems"></ul>
				</div>
				<div class="jcarouseText">
					<ul id="jcarouselTextItems"></ul>
				</div>
				 <p class="jcarousel-pagination" style="display: none"></p>
			</div>
		</div>
      <!-- carousel -->
      
      
	    <!-- Search bar -->
	    <div class="list list-inset fullwith">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search" ng-change="$ctrl.filterProduts()" ng-model="$ctrl.searchInput">
		  </label>
		</div>
		
		
	   <!--  Refresh button in case of data not loaded -->
  		<button ng-if="isPhone" ion-button round  class="button button-full button-positive round" ng-click="lauchBrowser()">
	 		 Refresh
		</button>
		
		<!--  List of all products -->
		<div style="display: block;">
			<span ng-repeat="product in filteredProducts">
			<post-card info="product"></post-card>
			</span>
		</div>
		
		
	</span>
 </ion-content>
</ion-view>
