<ion-view title="Home"  class="backhroundcolor " ng-init="getAllProducts()" >
<ion-header-bar class="bar-positive">
      <h1 class="title">Easy Day</h1>
    </ion-header-bar>

 <ion-content class="padding">
	 <span class="whitecolor">
	 
	 <button ng-if="isPhone" ion-button round  class="button button-full button-positive round" ng-click="lauchBrowser()">
  Refresh
</button>
		<span ng-repeat="product in allProducts">
			<post-card info="product"></post-card>
		</span>
	</span>
 </ion-content>
</ion-view>
