
div.inline { float:left; }
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #cccccc;
}
.selectBox{
  width:80px;
  height:40px;
  border:0px;
  outline:none;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #466368;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #6699ff;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #6699ff;
    color:white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}
button.header{
     background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font: italic bold 12px/30px Georgia, serif;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.selectedgreen{
	background-color:#40bf40;
}
.selectedred{
	background-color:#ff0000;
}
.roundbtn {
    border: 2px solid #a1a1a1;
    width: 30px;
    height:30px;
    border-radius: 55px;
}
.backhroundcolor{
 background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
}
.whitecolor{
	color:white;
}

.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}
 
/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}
input{
	border:1px solid #888888;
	margin:6px;
	width:100px;
	background-color: #6699ff;
	color:white;
}
