.box{
  height: 100%;
}
ion-slides{
  height: 100vh !important;
}

$base-color: #c24;
$num-colors: 10;

@for $i from 0 to $num-colors {
    .bgColor_#{$i} {
      background-color: adjust-hue($base-color, 360deg / $num-colors * $i);
    }
}


/*
    Description: JCarousel style start
  
*/
.Sparkle {
	
	font-size:30px;
	font-family:impact;
	
 -webkit-text-fill-color: transparent;
 background: -webkit-linear-gradient(transparent, transparent),
             url(/easyday25/img/red.gif) repeat;
 background: -o-linear-gradient(transparent, transparent);
 -webkit-background-clip: text;
}

.jcarousel {
	position: relative;
	overflow: hidden;
	width: 150px;
	height: 150px;
}

.jcarousel ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarousel li {
	float: left;
}

.jcarouseText {
	position: relative;
	overflow: hidden;
	width: 750px;
	height: 50px;
	line-height: 40px;
}

.jcarouseText ul {
	width: 20000em;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.jcarouseText li {
	float: left;
	width: 750px;
	height: 50px;
}

@media (max-width: 730px) {
	.jcarouseText ul {
		height: 50px;
		line-height: 30px;
	}
	.Sparkle {
		font-size:20px;
	}
	.jcarouseText {
	width: 250px;
	height: 100px;
	line-height: 40px;
	}
	.jcarouseText li {
	width: 250px;
	height: 100px;
	}
	
}
.jcarousel-pagination {
   
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}


/*
    Description: JCarousel style end
  
*/
      
.imageSize {
	width: 150px;
	height: 150px;
}   
div.inline { float:left; }
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #cccccc;
}
.selectBox{
  width:80px;
  height:40px;
  border:0px;
  outline:none;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #466368;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #6699ff;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: #6699ff;
    color:white;
    display: none;
}

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
div.panel.show {
    display: block;
}
button.header{
     background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font: italic bold 12px/30px Georgia, serif;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 15px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.selectedgreen{
	background-color:#40bf40;
}
.selectedred{
	background-color:#ff0000;
}
.roundbtn {
    border: 2px solid #a1a1a1;
    width: 30px;
    height:30px;
    border-radius: 55px;
}
.backhroundcolor{
 background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
}
.whitecolor{
	color:white;
}

.custom {
  background-color: #3f4041 !important; /* This sets the background color*/
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #666;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}
 
/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}
input{
	border:1px solid #888888;
	margin:6px;
	width:100px;
	background-color: #6699ff;
	color:white;
}

div.fullwith {width: 99%;}
div.inline { float:left; }
div.productDesc { white-space: pre-wrap !important; }
div.cartIcon { float:right; padding-bottom: 10px; }
div.productContainer {  width: 33%;float:left;padding-left: 0px;}
div.cartButton { padding-top: 30px;}
span.cartButton { padding-right: 25px;}
@media (max-width: 730px) {
span.cartButton {  display: none;}
div.cartButton { padding-top: 10px;padding-left: 190px;}
div.productContainer { width: 100%;}
 }
