<ion-view title="Admin" cache-view="false"  class="backhroundcolor " ng-init="getAllProducts()" ng-controller="CTRL_admin as $ctrl">

<ion-header-bar class="bar-positive">
      <h1 class="title">Admin</h1>
     
</ion-header-bar>

 <ion-content class="padding">
 <span class="whitecolor">
 <ion-list >
	  <ion-list-header>
	  <span class="whitecolor">
	    Procucts 
	    </span>
	  </ion-list-header>
	  <ion-item ng-repeat="product in myData.allProducts track by $index" on-swipe-left="deleteAddress({{$index}})">
	  		 <div style="display: inline;">
	  		 <input style="display: inline" class="admin adminLarge" type="text" placeholder="Product Descriptiion" ng-model="myData.allProducts[$index].desc"> 
	  		 <input style="display: inline" class="admin"  type="text" placeholder="Price" ng-model="myData.allProducts[$index].price"> 
	  		 <input style="display: inline" class="admin"  type="text" placeholder="Image Url" ng-model="myData.allProducts[$index].image"> 
	  		 <input style="display: inline" class="admin adminLarge"  type="text" placeholder="Offer if any" ng-model="myData.allProducts[$index].offer"> 
	  		 <img style="display: inline"  class="admin" src="{{myData.allProducts[$index].image}}"  class="imageSize" BORDER="0"/>
	  		 </div>
	  		
	  		
	  </ion-item>
	  
	</ion-list>
 </span>
  </ion-content>
</ion-view>