<ion-view title="Check Out"  class="backhroundcolor" ng-controller="CTRL_CheckOut as $ctrl">
<ion-header-bar class="bar-positive">
      <h1 class="title">check out</h1>
    </ion-header-bar>
 <ion-content class="padding">
 
	<div  align="right">
			 <button class="button button-balanced order-button" ng-click="submitOrder()"> Deliver 
			 <i class="icon ion-paper-airplane"></i>
			</button>
		 </div>
	<div ng-if="savedAddress && savedAddress.length > 0">
		<ion-list radio-group>
	  <ion-list-header>
	  <span class="whitecolor">
	    Use the below address: 
	    </span>
	  </ion-list-header>
	  <ion-item ng-repeat="address in savedAddress track by $index">
	  		<input type="radio" name="{{address.id}}" ng-model="$ctrl.defaultAddress"  
	  		ng-value="{{address.id}}" ng-change="$ctrl.updateDefaultAddress({{address.id}})" style=" width: 20px; height: 20px;">
	  		 {{address.fName}} {{address.lName}}, {{address.address}}, {{address.phone}}
	  		 </input>
	  		
	  </ion-item>
	  
	</ion-list>
	<hr width="100%" color="white"/>
	</div>
	
 <!-- New Address -->
	 <span class="whitecolor">
	 <div align="left">
	 		<span>Add a new address</span><br/>
		   <span>Fields with "*" are mandatory</span>
	</div>
	</span>
	
		
 		<!-- New address -->
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="First Name *" ng-model="$ctrl.fName">
		  </label>
		  <label class="item item-input"> 
		    <input type="text" placeholder="Last Name *" ng-model="$ctrl.lName">
		  </label>
		  <label class="item item-input">
		    <textarea placeholder="Address *" ng-model="$ctrl.address"></textarea>
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Phone *" ng-model="$ctrl.phone">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Email" ng-model="$ctrl.email">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Delivery instructions" ng-model="$ctrl.instructions">
		  </label>
		</div>
		
		
		 
		 <div  align="center">
			 <button class="button button-balanced order-button" ng-click="saveAddress()"> Deliver 
			 <i class="icon ion-paper-airplane"></i>
			</button>
		 </div>

 </ion-content>
</ion-view>