<ion-view title="Admin" cache-view="false"  class="backhroundcolor " ng-init="getAllProducts()" ng-controller="CTRL_admin as $ctrl">

<ion-header-bar class="bar-positive">
      <h1 class="title">Admin</h1>
     
</ion-header-bar>

 <ion-content class="padding">
 <span class="whitecolor">
 	<!-- Password update -->
	 <span ng-if="myData.productUpdatePage">
	 	 <ion-list >
			  <ion-list-header>
			  <span class="whitecolor">
			    Update Password  
			    </span>
			  </ion-list-header>
			  
			  <ion-item>
			  	<div   class="passwordButtonGroup">
				  	<input  class="adminDefault" type="password" placeholder="Old Password" ng-model="myData.passwordOld">
				 </div>
				 <div   class="passwordButtonGroup">
				  	<input  class="adminDefault" type="password" placeholder="New Password" ng-model="myData.passwordNew">
				  </div>
				  <div   class="passwordButtonGroup">
				  	<input  class="adminDefault" type="password" placeholder="Confirm" ng-model="myData.passwordConfirm">
				  </div>
				  <div   class="passwordButtonGroup">
				  	 <button class="button button-balanced order-button" ng-click="$ctrl.updatePassword()" 
				  	      ng-disabled="!myData.passwordOld || !myData.passwordNew || !myData.passwordConfirm"> Change password
					 <i class="icon ion-thumbsup"></i>
					</button>
				  </div>
				
			  </ion-item>
		</ion-list>
	 </span>
	 
	 <!-- Products update -->
	  <span ng-if="myData.productUpdatePage">
	 
		 <ion-list >
			  <ion-list-header>
			  <span class="whitecolor">
			    Filter products ({{myData.productCountAfterFilter}}) <!-- Filter product -->
			    	<div   style="display: inline; " class="adminSmall">
	  						<div class="list">
	
							  <label class="item item-input item-select adminSmall" >
							    <div class="input-label">
							      Status
							    </div>
							    <select class="adminSmall" ng-model="myData.adminProductFilter" ng-change="$ctrl.filterProductsForAdmin()">
							      <option >All</option>
							      <option >Active</option>
							      <option >Out Of stock</option>
							      <option>Discontinued</option>
							      <option>Offer items</option>
							    </select>
							  </label>
							 
							</div>
			    </span>
			  </ion-list-header>
			  
			  <ion-item>
				  <span><b>Page Size </b></span>
				  <span style="padding-left:15px">
				  	<input style="display: inline" class="adminSmall" type="text" placeholder="Page Size" ng-model="myData.pageSize">
				  </span>
				  <span style="display: inline;" ng-repeat="page in myData.pageNos track by $index">
				  	<button class="button button-positive order-button button-icon button-clear" ng-click="$ctrl.showPage({{page}})"><b> {{page}}</b>
					</button>
				  </span>
				  <div   style="display: inline;float: right;">
				  <span style="padding-left: 5px;">
				   <button class="button button-positive order-button" ng-click="$ctrl.addProducts(10)">  
					 <i class="icon ion-plus"></i> Add 10 new products
					</button>
				  </span>
				  	
					<div   class="passwordButtonGroup">
				  		<input  class="adminSmall" type="password" placeholder="Password" ng-model="myData.password">
				  	</div>
				  	<div   class="passwordButtonGroup">
						 <button class="button button-balanced order-button" ng-click="$ctrl.updateProducts()" ng-disabled="!myData.password"> Update products
						 <i class="icon ion-thumbsup"></i>
						</button>
					</div>
				</div>
				  
			  </ion-item>
			  
			<!-- Products to be displayed on page -->
			  <ion-item ng-repeat="product in myData.filteredProducts track by $index" >
			  <!-- Product Desc , price and others -->
			  <div style="display: inline;float: left">
				  	
				  	<span style="display: block;" class="admin">
				  		Product: 
				  		{{product._id}}. <input style="display: inline;" class="admin" type="text" placeholder="Product Descriptiion" ng-model="product.desc">
				  	</span>
				  	<span style="display: block;" class="admin">
				  		Price: 
				  		<input style="display: inline;" class="admin"  type="text" placeholder="Price" ng-model="product.price">
				  	 </span>
				  	<span style="display: block;" class="admin">
				  		Image path:  
				  		<input style="display: inline;" class="admin"  type="text" placeholder="Image Url" ng-model="product.image"> 
				  	</span>
				  	<span style="display: block;" class="adminList">
				    	Offer :
				    	<input  style="display: inline;" class="admin"  type="text" placeholder="Offer if any" ng-model="product.offer">
				    </span>
				    
				    <!-- Product Staus -->
				    	<div   style="display: inline; " class="adminSmall">
	  						<div class="list">
	
							  <label class="item item-input item-select adminSmall" >
							    <div class="input-label">
							      Status
							    </div>
							    <select class="adminSmall" ng-model="product.productStatus">
							      <option >Active</option>
							      <option >Out Of stock</option>
							      <option>Discontinued</option>
							    </select>
							  </label>
							
							</div>
	  					</div><!-- Product Staus -->
	  					
				  	
			  </div>
			  
			  <!-- Image Preview and top button -->
			  	<div class="adminRight">
			  		<img ng-show="product.image"  style="display: inline"   src="{{product.image}}"  class="imageSize" BORDER="0"/>
			  		 
			  		 <div  class="smartAlign">
						 <button class="button button-balanced order-button" ng-click="$ctrl.scrollTop()"> Top
						 <i class="icon ion-arrow-up-c"></i>
						</button>
				    </div>
				</div>  <!-- Image Preview -->
			  		
			  		
			  		
			  </ion-item> <!-- Products to be displayed on page -->
			  
			</ion-list>
		</span>
 </span>
  </ion-content>
</ion-view>