<ion-view title="Contacts" class="backhroundcolor">
<ion-header-bar class="bar-positive">
      <h1 class="title">Contacts</h1>
    </ion-header-bar>
 <ion-content class="padding">
<span class="whitecolor">

<br/>
<b>Inactive &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone no&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Relationship</b>
<br/>
 &nbsp;&nbsp;<input type="checkbox"  ng-model="mydata.inactive1" style="height:25px;width:30px;display: inline;vertical-align:middle; " ng-change="saveContactDetails()"> &nbsp;&nbsp;&nbsp;&nbsp;
 			<input type="text" phone-number ng-model="mydata.contact1" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" />  	 
 			<input type="text"  ng-model="mydata.relationWithMe1"  style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" /> 
<br/>		

&nbsp;&nbsp;<input type="checkbox"  ng-model="mydata.inactive2" style="height:25px;width:30px;display: inline;vertical-align:middle; " ng-change="saveContactDetails()"> &nbsp;&nbsp;&nbsp;&nbsp;
 			<input type="text" phone-number  ng-model="mydata.contact2"  style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" />
 			<input type="text"  ng-model="mydata.relationWithMe2" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" />
<br/>		

&nbsp;&nbsp;<input type="checkbox"  ng-model="mydata.inactive3" style="height:25px;width:30px;display: inline; vertical-align:middle;" ng-change="saveContactDetails()"> &nbsp;&nbsp;&nbsp;&nbsp;
 			<input type="text" phone-number  ng-model="mydata.contact3" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()"/>
 			<input type="text" ng-model="mydata.relationWithMe3" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" />
<br/>
&nbsp;&nbsp;<input type="checkbox"  ng-model="mydata.inactive4" style="height:25px;width:30px;display: inline;vertical-align:middle; " ng-change="saveContactDetails()"> &nbsp;&nbsp;&nbsp;&nbsp;
 			<input type="text" phone-number  ng-model="mydata.contact4" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" />
 			<input type="text"  ng-model="mydata.relationWithMe4" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" />
<br/>		
&nbsp;&nbsp;<input type="checkbox"  ng-model="mydata.inactive5" style="height:25px;width:30px;display: inline;vertical-align:middle; " ng-change="saveContactDetails()"> &nbsp;&nbsp;&nbsp;&nbsp;
 			<input type="text" phone-number  ng-model="mydata.contact5" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()"/>
 			<input type="text"  ng-model="mydata.relationWithMe5" style="width:80px;display: inline;color:white;" ng-change="saveContactDetails()" />
 
</span>

<span ng-repeat="contact in mydata.otherKnownContacts" >
<div class="panel show" id="panel{{$index}}">
<div  class="card" ng-click="deleteContact({{$index}})" >
  <div class="item item-text-wrap">
   {{contact.name}} {{contact.number}}	
  </div>
</div>
  
</div>
</span>
 </ion-content>
</ion-view>