<ion-view title="Add"  class="backhroundcolor" cache-view="false"  ng-init="getAllCustomers()" ng-controller="CTRL_add as $ctrl">

<ion-header-bar class="bar-positive">
      <h1 class="title">Add</h1>
     
</ion-header-bar>

 <ion-content class="padding">
 <span class="whitecolor">
 
 <div class="passwordButtonGroup">
 	<input  class="adminSmall" type="password" placeholder="Admin Password*" ng-model="myData.password">
	
 </div>
 <hr width="99%"/>
		 <div class="list">
			<label class="item item-input">
				<textarea placeholder="Message *" ng-model="myData.MessageToCustomers"></textarea>
			</label>
		 </div>	
		 <div  align="center">
			 <button class="button button-positive order-button" ng-click="sendMessage('SMS')" ng-disabled="!myData.MessageToCustomers || !myData.password"> Send SMS
			 <i class="icon ion-android-textsms"></i>
			</button>
			<div  style="padding-left: 20px;display: inline">
			 <button class="button button-positive order-button" ng-click="sendMessage('Email')" ng-disabled="!myData.MessageToCustomers || !myData.password"> Send Email
			 <i class="icon ion-email"></i>
			</button>
			</div>
			
		 </div>  
		  
		 <hr color="white" width="99%"/>
<!-- New Customer -->
		<div class="list">
		  <label class="item item-input">
		    <input type="text" placeholder="First Name *" ng-model="newCustomer.fName">
		  </label>
		  <label class="item item-input"> 
		    <input type="text" placeholder="Last Name *" ng-model="newCustomer.lName">
		  </label>
		  <label class="item item-input">
		    <textarea placeholder="Address *" ng-model="newCustomer.address"></textarea>
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Phone *" ng-model="newCustomer.phone">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Email" ng-model="newCustomer.email">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="Delivery instructions" ng-model="newCustomer.instructions">
		  </label>
		 
		</div>
		
		<div  align="center">
			 <button class="button button-positive order-button" ng-click="addNewCustomer()"> Add customer
			 <i class="icon ion-android-add-circle"></i>
			</button>
		 </div>
		
		<hr color="white" width="99%"/>
		<!-- Existing customers -->
		<ion-list >
		  <ion-list-header>
		  	<span class="whitecolor">
		    	My Customers List (Swipe left to delete:)
		    </span>
		  </ion-list-header>
		  
		  <ion-item ng-repeat="customer in myData.customerList track by $index" on-swipe-left="deleteCustomer({{$index}})">
		  		{{customer.cusID}}. {{customer.fName}} {{customer.lName}}, {{customer.address}}, {{customer.phone}},{{customer.email}}
		  		<div  style="float: right;display: inline" >
					 <button ng-disabled="!myData.MessageToCustomers || !myData.password" class="button button-balanced order-button" ng-click="whatsApp({{customer.phone}})">
					 <i class="icon ion-social-whatsapp"></i>
					</button>
				</div>
		  </ion-item>
	  
		</ion-list>
</span>	
</ion-content>
</ion-view>